@import "tailwindcss";
*{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}


.healthy{
  background-color: #44e644;
  box-shadow: 0 0 10px #10ff10;
}
.almostHealthy{
  background-color: yellow;
  box-shadow: 0 0 10px yellow;
}
.maybeDisease{
  background-color: orange;
  box-shadow: 0 0 10px orange;
}
.diesease{
  background-color: red;
  box-shadow: 0 0 10px red;
  color: white;
}
.delbtn{
  box-shadow: 5px 5px 0px rgb(0, 0, 0);
transition: all ease 0.3s;
}
.delbtn:hover{
  

}
.nodash{
  text-decoration: none;
}